# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [4]:
# 1.Problemin Çözümünü Buraya Yazınız

import seaborn as sns

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [6]:
# 2.Problemin Çözümünü Buraya Yazınız

cinsiyet = df['sex'].value_counts()
print(cinsiyet)

sex
male      577
female    314
Name: count, dtype: int64

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [8]:
# 3.Problemin Çözümünü Buraya Yazınız

a=df.nunique()
print(a)

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [10]:
# 4.Problemin Çözümünü Buraya Yazınız

b=df['pclass'].nunique()
print(b)

3

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [11]:
# 5.Problemin Çözümünü Buraya Yazınız

c=df[['pclass','parch']].nunique()
print(c)

pclass    3
parch     7
dtype: int64

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [17]:
# 6.Problemin Çözümünü Buraya Yazınız

eski=df['embarked'].dtype
print(eski)

df['embarked']=df['embarked'].astype('category')
yeni_tip=df['embarked'].dtype
print(yeni_tip)

object
category

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [19]:
# 7.Problemin Çözümünü Buraya Yazınız

C=df[df['embarked'] == 'C']
print(C.head())

    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1          1       1  female  38.0      1      0  71.2833        C   First
9          1       2  female  14.0      1      0  30.0708        C  Second
19         1       3  female   NaN      0      0   7.2250        C   Third
26         0       3    male   NaN      0      0   7.2250        C   Third
30         0       1    male  40.0      0      0  27.7208        C   First

      who  adult_male deck embark_town alive  alone
1   woman       False    C   Cherbourg   yes  False
9   child       False  NaN   Cherbourg   yes  False
19  woman       False  NaN   Cherbourg   yes   True
26    man        True  NaN   Cherbourg    no   True
30    man        True  NaN   Cherbourg    no   True

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [20]:
# 8.Problemin Çözümünü Buraya Yazınız

S=df[df['embarked'] != 'S']
print(S.head())

    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1          1       1  female  38.0      1      0  71.2833        C   First
5          0       3    male   NaN      0      0   8.4583        Q   Third
9          1       2  female  14.0      1      0  30.0708        C  Second
16         0       3    male   2.0      4      1  29.1250        Q   Third
19         1       3  female   NaN      0      0   7.2250        C   Third

      who  adult_male deck embark_town alive  alone
1   woman       False    C   Cherbourg   yes  False
5     man        True  NaN  Queenstown    no   True
9   child       False  NaN   Cherbourg   yes  False
16  child       False  NaN  Queenstown    no  False
19  woman       False  NaN   Cherbourg   yes   True

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [22]:
# 9.Problemin Çözümünü Buraya Yazınız

kadinlar=df[(df['age'] < 30) & (df['sex'] == 'female')]
print(kadinlar.head())

    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
2          1       3  female  26.0      0      0   7.9250        S   Third
8          1       3  female  27.0      0      2  11.1333        S   Third
9          1       2  female  14.0      1      0  30.0708        C  Second
10         1       3  female   4.0      1      1  16.7000        S   Third
14         0       3  female  14.0      0      0   7.8542        S   Third

      who  adult_male deck  embark_town alive  alone
2   woman       False  NaN  Southampton   yes   True
8   woman       False  NaN  Southampton   yes  False
9   child       False  NaN    Cherbourg   yes  False
10  child       False    G  Southampton   yes  False
14  child       False  NaN  Southampton    no   True

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [26]:
# 10.Problemin Çözümünü Buraya Yazınız

x=df[(df['fare']>500) | (df['age']>70)]
print(x.head())

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
96          0       1    male  71.0      0      0   34.6542        C  First
116         0       3    male  70.5      0      0    7.7500        Q  Third
258         1       1  female  35.0      0      0  512.3292        C  First
493         0       1    male  71.0      0      0   49.5042        C  First
630         1       1    male  80.0      0      0   30.0000        S  First

       who  adult_male deck  embark_town alive  alone
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
258  woman       False  NaN    Cherbourg   yes   True
493    man        True  NaN    Cherbourg    no   True
630    man        True    A  Southampton   yes   True

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [27]:
# 11.Problemin Çözümünü Buraya Yazınız

toplam=df.isnull().sum()
print(toplam)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64