# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [5]:
# 1.Problemin Çözümünü Buraya Yazınız

import seaborn as sns

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [8]:
# 2.Problemin Çözümünü Buraya Yazınız

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [ ]:
# 3.Problemin Çözümünü Buraya Yazınız

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [ ]:
# 4.Problemin Çözümünü Buraya Yazınız

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [ ]:
# 5.Problemin Çözümünü Buraya Yazınız

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [ ]:
# 6.Problemin Çözümünü Buraya Yazınız

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [ ]:
# 7.Problemin Çözümünü Buraya Yazınız

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [ ]:
# 8.Problemin Çözümünü Buraya Yazınız

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [ ]:
# 9.Problemin Çözümünü Buraya Yazınız

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [ ]:
# 10.Problemin Çözümünü Buraya Yazınız

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [ ]:
# 11.Problemin Çözümünü Buraya Yazınız