# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [14]:
# 1.Problemin Çözümünü Buraya Yazınız
def cit_uzunluk(kenar1,kenar2):
    cevre=2*(kenar1+kenar2)
    print("Çit uzunluğu:", cevre)
cit_uzunluk(8,5)

def bahce_alan(kenar1,kenar2):
    alan=kenar1*kenar2
    print("Bahçe alanı:", alan)
bahce_alan(6,2)

Çit uzunluğu: 26
Bahçe alanı: 12

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [51]:
# 2.Problemin Çözümünü Buraya Yazınız

def asal(baslangic, bitis):
    asal_sayilar = []

    for sayi in range(baslangic, bitis + 1):
        if sayi > 1:  
            for i in range(2, int(sayi ** 0.5) + 1): 
                if sayi % i == 0:
                    break
            else:
                asal_sayilar.append(sayi)

    return asal_sayilar

print(asal(baslangic, bitis))

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [23]:
# 3.Problemin Çözümünü Buraya Yazınız

saat=int(input("Çalışma saatinizi giriniz:"))
if saat>40:
    def computerPay(saat):
        ucret=saat*15
        print("Toplam maaşınız:", ucret)
else:
    def computerPay(saat):
        ucret=saat*10
        print("Toplam ücretiniz:", ucret)
computerPay(saat)

Toplam maaşınız: 750

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [36]:
# 4.Problemin Çözümünü Buraya Yazınız

kisi_sayisi=int(input("Gelecek kişi sayısını giriniz: "))
kalan=kisi_sayisi%4
if kalan != 0:
    print("Kalan kişi sayısı:", kalan)
else:
    print("Kalan kişi sayısı: 0")

Kalan kişi sayısı: 1

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [40]:
# 5.Problemin Çözümünü Buraya Yazınız


def sayiTopla(*sayilar):
    toplam=0
    for i in sayilar:
        toplam += i
    print(toplam)
sayiTopla(1,2,3,4)

10

# Problem 6

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız.

In [46]:
# 6.Problemin Çözümünü Buraya Yazınız

liste = [("xxx", 1), ("xxx", 2), ("xxx", 9), ("xxx", 3), ("xxx", 1), ("xxx", 13), ("xxx", 26), ("xxx", 4)]

sorted_liste = sorted(liste, key=lambda x: x[1])

print(sorted_liste)

[('xxx', 1), ('xxx', 1), ('xxx', 2), ('xxx', 3), ('xxx', 4), ('xxx', 9), ('xxx', 13), ('xxx', 26)]

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [30]:
# 7.Problemin Çözümünü Buraya Yazınız
cift_sayilar=[x for x in range(1,100) if x%2==0]
print(cift_sayilar)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]